ion-header {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2) !important;

  ion-toolbar {
    --background: var(--ion-color-stadium);
    --color: var(--ion-color-pitch);
    img {
        width: 40px;
      }

    .div-img {
      padding-top: 8px;

      img {
        width: 40px;
      }
    }
  }
}


ion-button {
  --color: var(--ion-color-pitch);
  color: var(--ion-color-pitch);
  ion-icon {
    --color: var(--ion-color-pitch);
    color: var(--ion-color-pitch);
  }
}

.div-img-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}