<ion-header>
  <ion-toolbar mode="md">
    @if (titulo === "Home") {
      <ion-buttons slot="start">
        <ion-button (click)="backRecepcion()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="div-img-title">
        <img src="assets/images/pf-logo-v2.svg" alt="Logo PF" />
        <h3 class="ion-no-margin">Inicio</h3>
      </div>
      
    } @else {
      <div class="ion-text-center div-img">
        <img src="assets/images/pf-logo-v2.svg" />
      </div>
    }
  </ion-toolbar>
</ion-header>
