<ion-card class="cambiar-pass-card" mode="ios">
  <ion-card-content>
    <form [formGroup]="cambiarPasswordForm">
      <ion-input
        class="outline-input ion-margin-bottom ion-margin-top"
        mode="md"
        label="Correo Electrónico"
        label-placement="stacked"
        fill="outline"
        type="email"
        formControlName="email"
      ></ion-input>

      <ion-input
        class="outline-input ion-margin-bottom"
        mode="md"
        label="Contraseña"
        label-placement="stacked"
        fill="outline"
        type="password"
        formControlName="password"
      ></ion-input>

      <ion-input
        class="outline-input ion-margin-bottom"
        mode="md"
        label="Confirmar Contraseña"
        label-placement="stacked"
        fill="outline"
        type="password"
        formControlName="confirmarPassword"
      ></ion-input>

      <ion-button
        (click)="cambiarPassword()"
        expand="block"
        class="neon-button"
        [disabled]="cambiarPasswordForm.invalid"
      >
        Cambiar Contraseña
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
