<ion-content class="ion-padding reception-background">
  <!-- Botones de accion - PANEL ADMIN - LOGOUT -->

  <!-- El resto de tu interfaz de selección de ligas -->
  <!-- <ion-fab class="ion-margin-bottom" vertical="top" horizontal="start" mode="ios">
    <ion-fab-button class="plus-button">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      @if (user?.rol_id === 1) {
      <ion-button (click)="abrirPanelDeControl()">
        <ion-icon name="sparkles-outline"></ion-icon>
        <ion-label>Panel de Control</ion-label>
      </ion-button>
      }
      <ion-button (click)="crearCampeonato()">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Crear Campeonato</ion-label>
      </ion-button>
      <ion-button (click)="unirseCampeonato()">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Unirse a Campeonato</ion-label>
      </ion-button>
    </ion-fab-list>
  </ion-fab> -->

  <ion-button
    mode="ios"
    class="btn-fab-neon"
    (click)="simularTabButton()"
  >
    @if (tabButtonOpen() === true) {
    <ion-icon name="close"></ion-icon>
    } @else {
    <ion-icon name="add"></ion-icon>
    }
  </ion-button>

  @if (tabButtonOpen() === true) {
  <div class="div-simulate-tab-buttons">
    @if (user?.rol_id === 1) {
    <ion-button (click)="abrirPanelDeControl()" mode="ios">
      <ion-icon slot="start" name="sparkles-outline"></ion-icon>
      Panel de Control
    </ion-button>
    }
    <ion-button (click)="crearCampeonato()" mode="ios">
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      Crear Campeonato
    </ion-button>
    <ion-button (click)="unirseCampeonato()" mode="ios">
      <ion-icon slot="start" name="trophy-outline"></ion-icon>
      Unirse a Campeonato
    </ion-button>
  </div>

  }

  <ion-button mode="ios" (click)="logout()" class="btn-logout-neon">
    <ion-icon name="power-outline"></ion-icon>
  </ion-button>
  <div class="brand-section ion-text-center">
    <img
      src="assets/images/pf-logo-v2.svg"
      alt="Preferente Fantasy"
      class="auth-logo"
    />
    <h1 class="fantasy-title">PREFERENTE FANTASY</h1>
    <p class="auth-subtitle">Crea tu campeonato o únete a uno existente</p>
  </div>

  <div class="leagues-grid">
    @for (liga of misLigas(); track liga.id) {
    <div class="league-card joined" (click)="entrarEnLiga(liga)">
      <!-- Cabecera de la tarjeta: Título y Rol -->
      <div class="card-header">
        <div class="league-badge-icon">
          <ion-icon name="trophy"></ion-icon>
        </div>
        <div class="league-title">
          <h3>{{ liga.nombre_liga }}</h3>
          <span class="code-pill">{{ liga.nombre_competicion }}</span>
          <!-- <span class="code-pill">
              <ion-icon name="key-outline"></ion-icon> {{ liga.codigo_acceso }}
            </span> -->
        </div>
        <span class="people-badge">
          <ion-icon name="people-outline"></ion-icon>
          {{ liga.total_participantes }}
        </span>
      </div>

      <!-- Footer de la tarjeta: Acceso rápido -->
      <div class="card-footer">
        <span class="status-indicator">
          <span class="dot"></span> Liga {{ liga.privada ? `Privada (Código:
          ${liga.codigo_acceso})` : 'Publica' }}
        </span>
        <button class="btn-enter">
          Entrar <ion-icon name="arrow-forward-outline"></ion-icon>
        </button>
      </div>
    </div>
    } @empty {
    <div class="empty-state">
      <p>Aún no perteneces a ninguna liga.</p>
    </div>
    }
  </div>
</ion-content>
