<app-header titulo="Plantillas"></app-header>

<ion-content [fullscreen]="true">
  <div class="team-selector-scroll">
    @for (equipo of equipos(); track equipo.id) {
    <div class="team-badge-item" [class.active]="equipoSeleccionado()?.id === equipo.id"
      (click)="seleccionarEquipo(equipo)">
      <div class="shield-container">
        <img [src]="equipo.escudo" [alt]="equipo.nombre" />
      </div>
      <!-- <span class="team-name">{{ equipo.nombre }}</span> -->
    </div>
    }
  </div>
  <div class="position-segment-filter">
    <ion-segment value="todos" mode="ios" (ionChange)="filtrarPosicion($event)">
      <ion-segment-button value="todos">
        <ion-label>TODOS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="por" class="por-segment">
        <ion-label>POR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="def" class="def-segment">
        <ion-label>DEF</ion-label>
      </ion-segment-button>
      <ion-segment-button value="med" class="med-segment">
        <ion-label>MED</ion-label>
      </ion-segment-button>
      <ion-segment-button value="del" class="del-segment">
        <ion-label>DEL</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  @if (equipoSeleccionado()) {
  <div class="section-header ion-padding">
    <h2>{{ equipoSeleccionado()?.nombre }}</h2>
    <span class="player-count">{{ jugadores().length }} Jugadores</span>
  </div>
  }

  @if (loadingJugadores()) {
  <div class="spinner-container ion-text-center ion-padding">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
  } @else {
  <!-- Lista Base de Jugadores -->
  <ion-list class="fantasy-player-list">
    @for (jugador of jugadoresFiltrados(); track jugador.id) {
    <ion-item class="player-item" lines="none" (click)="verDetalleJugador(jugador)">
      <ion-avatar slot="start" class="player-avatar" [class]="jugador.posicion.toLowerCase()">
        <img [src]="jugador.foto || 'assets/images/default-player.png'" />
      </ion-avatar>
      <!-- <ion-avatar slot="start" class="pos-avatar" [class]="jugador.posicion.toLowerCase()">
            <span>{{ jugador.posicion }}</span>
          </ion-avatar> -->

      <ion-label>
        <h3 class="player-name">{{ jugador.apodo || jugador.nombre + ' ' + jugador.apellidos }}</h3>
        <p class="player-value">{{ jugador.posicion.toUpperCase() }}</p>
      </ion-label>

      <div slot="end" class="player-stats ion-text-end">
        <span class="puntos-span">{{ jugador.puntos_totales }}</span>
        <span class="pts-label">PTS</span>
      </div>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>