<ion-card class="info-card" mode="ios">
  <ion-card-header>
    <p>
      La puntuación de cada equipo se calcula SOLO en base al acta del partido,
      ya que es imposible realizarlo por ahora de otra manera:
    </p>
    <ion-card-subtitle>Jornadas en Preferente Fantasy</ion-card-subtitle>
    <ion-card-title>Formato de Puntuación</ion-card-title>
  </ion-card-header>
  <div class="divider"></div>
  <ion-card-content>
    <p>Puntuación general por partido disputado:</p>
    <ul>
      <li>2 puntos por ser titular.</li>
      <li>1 punto por ser suplente.</li>
      <li>3 puntos por ser nominado a jugador destacado de la jornada por Albero y Mikasa.</li>
    </ul>

    <p>Puntuación general por goles:</p>
    <ul>
      <li>3 puntos por ser gol en posición de "DEL".</li>
      <li>4 puntos por ser gol en posicion de "MED".</li>
      <li>5 puntos por ser gol en posición de "DEF".</li>
      <li>10 puntos por ser gol en posición de "POR".</li>
      <li>-1 punto por ser gol en propia puerta.</li>
    </ul>

    <p>Puntuación general por tarjetas y sanciones:</p>
    <ul>
      <li>-1 punto al mostrar tarjeta amarilla.</li>
      <li>-2 puntos al mostrar doble tarjeta amarilla.</li>
      <li>-3 puntos al mostrar tarjeta roja directa.</li>
    </ul>

    <p>Puntuación general por resultado:</p>
    <ul>
      <li>2 puntos por victoria.</li>
      <li>1 punto por empate.</li>
      <li>0 puntos por derrota.</li>
      <li>3 puntos por mantener portería a cero para "POR" y "DEF".</li>
      <li>2 puntos por marcar más de 3 goles en el partido para "MED" y "DEL".</li>
    </ul>
  </ion-card-content>
</ion-card>